*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato',sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(to bottom,#009688 20%,#DBDBD4 20% 100% ) ;
    padding: 1.5em;
}

.container-app{
    width: 1200px;
    height: 94vh;
}

.title{
    height: 4.5em;
    background-color: #EAEAEA;
    border-right: .1em solid #D6D6D6;
}

.avatar{
    border-radius: 100%;
    width: 13%;
}

.fa-solid{
    color: #B1B1B1;
}

.notifications{
    height: 4.8em;
    background-color: #8EDAFC;
}

.bi-bell-slash-fill{
    border-radius: 100%;
    background-color: white;
    color: #8EDAFC;
    padding: .2em .5em;
    transform: rotateZ(180deg) rotateX(180deg);
}

.font{
    font-size: .7em;
   line-height: .3em;
}

.form-search{
    height: 2.5em;
    background-color: white;
}

.search{
    padding: 1px 20px;
    border: 1px solid #EAEAEA;
    min-width: 400px;
}

.search-icon{
    min-width: 70px;
    min-height: 28px;
    background-color: white;
    border: 1px solid #EAEAEA;
}

.user-container{
    height: 490px;
    overflow-y: scroll;
}

.chat-avatar{
    position: relative;
    height: 4.5em;
    background-color: #EAEAEA; 
}

.avatar-two{
    border-radius: 100%;
    width: 12%;
}

.font-two{
    line-height: .3em;
}

.user-name{
    font-size: 1em;
}

.spy-user{
    font-size: .9em;
    color: #B6B9BB;
}

.time-chat{
    position:absolute ;
    top: .2;
    right: 0;
    color: #B6B9BB;
    font-size: .8em;
}

.title-two{
    height: 4.5em;
    background-color: #EAEAEA;
    margin-left: -1.5em;
}

.back-text{
    height: 543px;
    background-image: url(../img/mine.jpg);
    background-size: cover;
    margin-left: -1.5em;
    overflow-y: scroll;
}

.margin-two{
    margin-left: -1.5em;
    padding-right: 1.5em;
}

.search-right{
    height: 4em;
    margin-left: -1.5em;
    background-color: #EAEAEA;
    z-index: 98;
}

.search-two{
    padding: 9px 20px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    min-width: 550px;
}

.avatar3{
    border-radius: 100%;
    width: 11%;
}

.icon-color{
    color: #6B7598;
}

.area-text{
    max-width: 200px;
    min-height: 45px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    padding-right: 1em;
    margin-left: 3em;
}

.area-text2{
    max-width: 200px;
    min-height: 45px;
    background-color: #D5F9BA;
    position: relative;
    border-radius: 10px;
    padding-right: 1em;
    margin-left: 29em;
}

.texts{
   z-index: 96;
}

.area-text2 .fa-angle-down,
.area-text .fa-angle-down{
    display: none;
}

.area-text2:hover .fa-angle-down,
.area-text:hover .fa-angle-down{
    position: absolute;
    display: block;
    top: 0.5;
    right: 0;
    margin-right: .5em;
    margin-top: .5em;
    cursor: pointer;
}

.area-text2 .arrow-menu,
.area-text .arrow-menu{
    position: absolute;
    right: 0;
    top: 45px;
    list-style: none;
    background-color: white;
    font-size: .8em;
    width: 120px;
    padding: .4em;
    box-shadow: 0 0 2px #888888;
    text-align: center;
    display: none;
    cursor: pointer;
}

.area-text2:hover .arrow-menu,
.area-text:hover .arrow-menu{
    display: block;
    z-index: 99;
}

.button-text{
    position: absolute;
    top: 0;
    right: 0;  
}

.time-text{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: .6em;
    color: #B6B9BB;
}

.button-text:hover{
    display: block;
}

.display-index{
    display: none;
}

.display-index.active{
    display: block;
}

